BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
# BreakBeforeBraces: Allman
PointerAlignment: Left
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
